$amarelo-color:#FFB854;
$goiaba-color:#EA8079;
$pink-color:#DB5D79;
$azul-color:#84B8E2;
$verde-escuro:#68BFB7;
$link-goiaba:#E2645A;
$link-verde-agua:#86D0CB;
$texto-cinza-escuro:#585858;
$texto-cinza-claro:#9B9A9A;