.nav-topo{
    background: linear-gradient(269.41deg, #DB5D79 0.41%, #E2645A 99.41%);
  }
  .form-control {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
  }
  .header-content a{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
  }.header-content span{
    font-family: 'Merriweather Sans', sans-serif;
    top: 30px;
    font-size: 18px;
  }
  button img{
    width: 18px;
  }